<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.ArchiveOverViewDao">
    <!--归档总览表-->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.ArchivePO">
        <id column="f_id" property="id" />
        <result column="f_agen_code" property="agenCode" />
        <result column="f_agen_name" property="agenName" />
        <result column="f_kind_name" property="kindName" />
        <result column="f_link_addr" property="linkAddr" />
        <result column="f_apply_number" property="applyNumber" />
        <result column="f_use_number" property="useNumber" />
        <result column="f_author_number" property="authorNumber" />
        <result column="f_unauthor_number" property="unAuthorNumber"/>
        <result column="f_warn_number" property="warnNumber" />
        <result column="f_return_number" property="returnNumber" />
        <result column="f_destory_number" property="destoryNumber" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_operator_id" property="operatorId" />
        <result column="f_operator" property="operator" />
        <result column="f_version" property="version" />
        <result column="f_logic_delete" property="logicDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_agen_idcode, f_agen_name, f_kind_name, f_link_addr, f_apply_number, f_use_number, f_author_number, f_unAuthor_number, f_warn_number, f_return_number, f_destory_number, f_create_time, f_update_time, f_operator_id, f_operator, f_version, f_logic_delete
    </sql>
    <select id="queryOverViewArchiveInfo" resultType="com.bosssoft.ecds.entity.dto.ArchiveOverViewDTO"></select>

</mapper>
