<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.BillDao">
    <!--票据信息-->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.BillPO">
        <id column="f_id" property="id" />
        <result column="f_code" property="code" />
        <result column="f_name" property="name" />
        <result column="f_bill_nature" property="billNature" />
        <result column="f_memory_code" property="memoryCode" />
        <result column="f_eff_date" property="effDate" />
        <result column="f_exp_date" property="expDate" />
        <result column="f_check_sort" property="checkSort" />
        <result column="f_check_quota" property="checkQuota" />
        <result column="f_quota_amount" property="quotaAmount" />
        <result column="f_safe_year" property="safeYear" />
        <result column="f_remark" property="remark" />
        <result column="f_operator_id" property="operatorId" />
        <result column="f_operator" property="operator" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_version" property="version" />
        <result column="f_level" property="level" />
        <result column="f_pid" property="pid" />
        <result column="f_check_leaf" property="checkLeaf" />
        <result column="f_nature_code" property="natureCode" />
        <result column="f_type_code" property="typeCode" />
        <result column="f_parent_code" property="parentCode" />
        <result column="f_logic_delete" property="logicDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_code, f_name, f_bill_nature, f_memory_code, f_eff_date, f_exp_date, f_check_sort, f_check_quota, f_quota_amount, f_safe_year, f_remark, f_operator_id, f_operator, f_create_time, f_update_time, f_version, f_level, f_pid, f_check_leaf, f_nature_code, f_type_code, f_parent_code, f_logic_delete
    </sql>

</mapper>
