<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.WriteoffDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.WriteoffPO">
        <id column="f_id" property="id"/>
        <result column="f_rgn_code" property="rgnCode"/>
        <result column="f_no" property="no"/>
        <result column="f_agen_id_code" property="agenIdCode"/>
        <result column="f_check_date" property="checkDate"/>
        <result column="f_author" property="author"/>
        <result column="f_date" property="date"/>
        <result column="f_check_result" property="checkResult"/>
        <result column="f_memo" property="memo"/>
        <result column="f_version" property="version"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_update_time" property="updateTime"/>
        <result column="f_change_state" property="changeState"/>
        <result column="f_apply_id" property="applyId"/>
        <result column="f_batch_no" property="batchNo"/>
        <result column="f_operator_id" property="operatorId"/>
        <result column="f_operator" property="operator"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_rgn_code, f_no, f_agen_id_code, f_check_date, f_author, f_date, f_check_result, f_memo, f_version, f_create_time, f_update_time, f_change_state, f_apply_id, f_batch_no, f_operator_id, f_operator
    </sql>

</mapper>
