<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.ItemStdDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.ItemStdPO">
        <id column="f_id" property="id" />
        <result column="f_itemstd_code" property="itemstdCode" />
        <result column="f_itemstd_name" property="itemstdName" />
        <result column="f_mnem" property="mnem" />
        <result column="f_item_code" property="itemCode" />
        <result column="f_max_charge" property="maxCharge" />
        <result column="f_min_charge" property="minCharge" />
        <result column="f_units" property="units" />
        <result column="f_isenable" property="isenable" />
        <result column="f_itemstd_effdate" property="itemstdEffdate" />
        <result column="f_itemstd_expdate" property="itemstdExpdate" />
        <result column="f_operator" property="operator" />
        <result column="f_operator_id" property="operatorId" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_logic_delete" property="logicDelete" />
        <result column="f_version" property="version" />
        <result column="f_note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_itemstd_code, f_itemstd_name, f_mnem, f_item_code, f_max_charge, f_min_charge, f_units, f_isenable, f_itemstd_effdate, f_itemstd_expdate, f_operator, f_operator_id, f_create_time, f_update_time, f_logic_delete, f_version, f_note
    </sql>

</mapper>
