<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.PayerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.PayerPO">
        <id column="f_id" property="id" />
        <result column="f_payer_id" property="payerId" />
        <result column="f_payer_name" property="payerName" />
        <result column="f_mnen" property="mnen" />
        <result column="f_payer_username" property="payerUsername" />
        <result column="f_isunpaid" property="isunpaid" />
        <result column="f_pay_agreeno" property="payAgreeno" />
        <result column="f_payer_type" property="payerType" />
        <result column="f_payer_certno" property="payerCertno" />
        <result column="f_payer_bank" property="payerBank" />
        <result column="f_payer_bankname" property="payerBankname" />
        <result column="f_payer_acctname" property="payerAcctname" />
        <result column="f_tel" property="tel" />
        <result column="f_email" property="email" />
        <result column="f_rgncode" property="rgncode" />
        <result column="f_agen_idcode" property="agenIdcode" />
        <result column="f_operator" property="operator" />
        <result column="f_operator_id" property="operatorId" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_logic_delete" property="logicDelete" />
        <result column="f_version" property="version" />
        <result column="f_note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_payer_id, f_payer_name, f_mnen, f_payer_username, f_isunpaid, f_pay_agreeno, f_payer_type, f_payer_certno, f_payer_bank, f_payer_bankname, f_payer_acctname, f_tel, f_email, f_rgncode, f_agen_idcode, f_operator, f_operator_id, f_create_time, f_update_time, f_logic_delete, f_version, f_note
    </sql>

</mapper>
