<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.CrtDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.CrtPO">
        <id column="f_id" property="id" />
        <result column="f_agen_code" property="agenCode" />
        <result column="f_agen_name" property="agenName" />
        <result column="f_crt_code" property="crtCode" />
        <result column="f_crt_name" property="crtName" />
        <result column="f_issuedate" property="issuedate" />
        <result column="f_legalno" property="legalno" />
        <result column="f_chargno" property="chargno" />
        <result column="f_fineno" property="fineno" />
        <result column="f_proxyno" property="proxyno" />
        <result column="f_address" property="address" />
        <result column="f_linkman" property="linkman" />
        <result column="f_linkman_tel" property="linkmanTel" />
        <result column="f_finmgr" property="finmgr" />
        <result column="f_operator" property="operator" />
        <result column="f_operator_id" property="operatorId" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_logic_delete" property="logicDelete" />
        <result column="f_version" property="version" />
        <result column="f_note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_agen_code, f_agen_name, f_crt_code, f_crt_name, f_issuedate, f_legalno, f_chargno, f_fineno, f_proxyno, f_address, f_linkman, f_linkman_tel, f_finmgr, f_operator, f_operator_id, f_create_time, f_update_time, f_logic_delete, f_version, f_note
    </sql>

</mapper>
