<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.ecds.dao.StockReturnDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.ecds.entity.po.StockReturnPO">
        <id column="f_id" property="id" />
        <result column="f_no" property="no" />
        <result column="f_rgn_code" property="rgnCode" />
        <result column="f_agen_id_code" property="agenIdCode" />
        <result column="f_date" property="date" />
        <result column="f_return_reason" property="returnReason" />
        <result column="f_returner" property="returner" />
        <result column="f_author" property="author" />
        <result column="f_memo" property="memo" />
        <result column="f_version" property="version" />
        <result column="f_create_time" property="createTime" />
        <result column="f_update_time" property="updateTime" />
        <result column="f_change_state" property="changeState" />
        <result column="f_change_date" property="changeDate" />
        <result column="f_change_man" property="changeMan" />
        <result column="f_change_situ" property="changeSitu" />
        <result column="f_submit_status" property="submitStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_no, f_rgn_code, f_agen_id_code, f_date, f_return_reason, f_returner, f_author, f_memo, f_version, f_create_time, f_update_time, f_change_state, f_change_date, f_change_man, f_change_situ, f_submit_status
    </sql>

</mapper>
