HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Output Images ###
output
target
### Resources ###
src/main/resources/
/src/main/resources/application.yml
/src/main/resources/generatorConfig.xml
/src/main/resources/jdbc.properties
/src/main/resources/mybatis-config.xml
/src/main/resources/spring-dao.xml
/src/main/java/com/bosssoft/ecds/util/CodeBuilder.java
/src/main/java/com/bosssoft/ecds/util/HuTest.java
